.create-event {
  padding: 40px;
  display: flex;
  flex-direction: column;

  .head {
    height: 30px;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 30px;
      height: 30px;
    }

    .close-create {
      display: flex;
      align-items: center;
    }
  }


  .create-form {
    width: 480px;
    padding: 40px 32px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    .form-title {
      span:first-child {
        font-size: 28px !important;
      }
      span:nth-child(2) {
        font-size: 18px !important;
      }
    }
  }

  @media (max-width: 640px) {
    padding: 0;

    .head {
      height: 10%;
      padding: 20px;

      svg {
        width: 36px !important;
        height: 36px !important;
      }

      .close-text {
        display: none;
      }
    }

    .create-form {
      width: calc(100% - 20px);
      height: 550px;
      position: relative;
      top: 0;
      transform: none;
      padding: 20px;
    }
  }
}