.detail-container {
  margin: 60px 120px;

  .detail-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .event-id {
      color: #75797D;
      text-transform: uppercase;
      font-family: 'Hind-Semibold';
      font-size: 14px;
      display: inline-block;
    }

    .delete-event {
      cursor: pointer;
      display: flex;
      justify-content: center;
      color: #FF4081;
      text-transform: uppercase;
      font-family: 'Hind-Semibold';
      font-size: 15px;

      svg svg {
        color: #FF4081 !important;
      }
    }
  }

  .detail-inner-container {
    display: flex;
    width: 100%;

    .event-card, .edit-event-card {
      margin: 10px;
      flex: 1 1 70%;
      padding: 32px;

      .event-title {
        span:first-child {
          font-size: 35px !important;
        }
      }
    }

    .attendees-card {
      padding: 15px;
      margin: 10px;
      width: 25%;
    }
  }

  @media (max-width: 640px) {
    margin: 0;
    padding: 10px;

    &.editing {
      .attendees-card {
        display: none;
      }
    }

    .detail-head {
      margin: 0 5px;

      .event-id {
        margin: 10px;
        width: 100px;
      }

      .delete-text {
        display: none;
      }
    }

    .detail-inner-container {
      flex-direction: column;

      .attendees-card {
        margin-top: 10px;
        width: auto;
      }
    }
  }
}