.event-card {
  flex: 1 1 390px;
  min-height: 296px;
  display: inline-block;
  margin: 15px;
  padding: 15px;


  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .event-description, .event-date {
    color: #949EA8 !important;
  }
  
  .actions {
    margin-top: auto;
    display: flex;
    align-items: baseline;

    .person-icon {
      align-self: center;
      
      svg {
        color: #949EA8 !important;
      }
    } 

    .attendee-count {
      color: #949EA8 !important;
      padding: 0 !important;
    }

    .card-button {
      margin-left: auto;
    }
  }

}

.list-container, .profile-container {
  padding: 60px 120px;

  .top-controls {
    height: 24px;
    display: flex;

    .filter-controls {
      display: flex;
      justify-content: space-between;
      min-width: 320px;

      span {
        font-family: 'Hind-Semibold';
        text-transform: uppercase;
        cursor: pointer;
        font-size: 14px;

        &:not(.active) {
          color: #949EA8 !important;
        }
      }
    }

    .view-controls {
      margin-left: auto;

      svg {
        color: #D9DCE1 !important;
        &.active > svg {
          color: #323C46 !important;
        }
      }
    }
  }

  .list-area {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    &.list-mode {
      flex-direction: column;
      
      .event-tile {
        width: 100%;
        height: 72px;
        padding: 20px;
        margin: 16px 0;
        display: flex;
        justify-content: space-between;

        span {
          line-height: 32px;
          margin: 0 5px;
        }

        .event-title {
          flex-basis: 320px;
          font-size: 18px;
          color: #323C46;
        }
        .event-description {
          flex: 1 1 15%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 16px;
          color: #949EA8;
        }
        .event-owner {
          flex-basis: 100px;
          font-size: 14px;
          color: #7D7878;
        }
        .event-date {
          flex-basis: 150px;
          font-size: 14px;
          color: #CACDD0;
        }
        .attendee-count {
          flex-basis: 50px;
          font-size: 14px;
          color: #949EA8;
        }
      }
    }
  }
}

.add-event {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

@media (max-width: 640px) {
  .list-container, .profile-container {
    padding: 0;
  }

  .top-controls {
    margin: 0 20px;
  }

  .filter-controls {
    justify-content: flex-start !important;
  }

  .event-tile {
    height: 150px !important;
    margin: 10px !important;
    width: auto !important;
    position: relative;
    flex-direction: column;

    .event-description {
      flex: none !important;
      overflow: initial;
    }

    .event-owner {
      display: none;
    }

    .card-button {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}