.header {
  display: flex;
  padding: 40px;
  margin-right: 40px;
  height: 40px;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 30px;
    height: 30px;
  }

  .back-link {
    display: flex;
    span {
      color: #323C46;
    }
  }

  .user-menu {
    position: relative;
    color: #949EA8;
    cursor: pointer;

    .avatar {
      margin-right: 10px;

      div {
        background-color: #D9DCE1 !important;
        color: #949EA8 !important;        
        border-radius: 50% !important;
      }
    }
    
    svg {
      position: absolute;
      top: 7px;
      margin-left: 10px;
      color: #949EA8 !important;
    }
  }
}

@media (max-width: 640px) {
  .header {
    margin-right: 20px;
    
    .back-link {
      display: none;
    }
  }
  
  .user-menu {
    svg {
      margin-left: 0 !important;
    }
    .user-name {
      display: none;
    }
  }
}