@import '../Auth/auth';

.notfound-container {
  @extend .auth-container;

  .trooper {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    color: #323C46;
    font-size: 28px;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    color: #949EA8;
    font-size: 18px;
  }

  .redirect > div {
    margin-top: 40px;
  }
}