.left-panel {
  background: url('../../assets/images/panel-background.png') repeat 0 0;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 34%;
  max-width: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .logo {
    position: absolute;
    top: 35px;
    left: 60px;
  }

  .quote {
    display: block;
    margin: 0 auto;
    width: 310px;
    color: white;
    font-size: 36px;
    font-family: 'Playfair Display';
    text-align: center;
  }

  .separator {
    width: 12px;
    height: 2px;
    background-color: #1BE38B;
    margin: 10px auto;
  }

  .han {
    font-size: 18px;
    color: #949EA8;
    text-align: center;
    margin-bottom: 85px;
  }
}