@font-face {
  font-family: 'Hind';
  src: url('../fonts/Hind/Hind-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind-Semibold';
  src: url('../fonts/Hind/Hind-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair/Playfair-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #F9F9FB; 
  font-family: 'Hind';
}

a {
  text-decoration: none !important;
}

input:-webkit-autofill {
    color: #2a2a2a !important;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}