.auth-container {
  display: flex;
  height: 100vh;
  align-items: stretch;

  .left-panel {
    flex: 1 1 34%;
  }

  .main-panel {
    flex: 1 1 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .center-panel {
      width: 480px;
      margin: auto;
      position: relative;
      // top: 50%;
      // transform: translateY(-50%);

      .headline {
        h1 {
          color: #323C46;
          font-size: 28px;
          font-weight: normal;
          margin-bottom: 0;
        }
        p {
          color: #949EA8;
          font-size: 18px;
          margin-top: 0;

          &.error-text {
            color: #FF4081;
          }
        }
      }
    }

    .password-field {
      position: relative;
      width: 100%;

      .visibility-toggle {
        position: absolute;
        right: 20px;
        top: 36px;
        z-index: 10;

        svg {
          color: #949EA8 !important;
        }
      }
    }

    .forgot {
      text-decoration: none;
      font-size: 14px;
      color: #CCD0D9;
      display: block;
      margin-bottom: 40px;
    }
  } 

  .sign-up {
    color: #C9CED3;
    font-size: 14px;
    text-decoration: none;
    position: fixed;
    top: 40px;
    right: 35px;

    .emphasis {
      color: #949EA8;
      font-family: 'Hind-Semibold';
    }
  }

  .logo-m {
    display: none;
  }

  @media (max-width: 640px) {
    text-align: center;
    padding: 30px;
    height: 100%;
    flex-direction: column;

    .logo-m {
      display: initial;
      width: 32px;
    }

    .forgot {
      display: none !important;
    }

    .sign-up {
      position: absolute;
      bottom: 70px;
      top: initial;
      text-align: center;
      left: 0;
      right: 0;
    }

    .left-panel {
      display: none;
    }

    .center-panel {
      margin-top: 70px !important;
      width: 100% !important;
    }

    .submit-button {
      margin-top: 70px;
    }
  }
}