.profile-container {
  padding: 60px 120px;

  .profile-header {
    position: relative;
    height: 190px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar {
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
      margin: auto;

      div {
        background-color: #D9DCE1 !important;
        color: #949EA8 !important;        
        border-radius: 50% !important;
      }
    }
  
    .profile-name {
      margin-top: 40px;
    }
  }

  .my-events {
    margin-top: 52px;

    .top-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-family: 'Hind';
        font-size: 28px;
        color: #323C46;
      }
    }
  }

  @media (max-width: 640px) {
    padding: 10px !important;
  }
}